@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");
:root { 
  
  --Main-color: #125CD6;
  --Main-color-text : #D68C12;
  --Main-color-hover: #D68C12;

}


/* Table Responsive */
