

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*background-color: var(--Main-color-hover);
  color:white;*/
}

body {
  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.container {
  max-width: 90%;
  margin-right: auto;
  margin-left: 10%;
  padding: 1rem;
}

article h1 {
  margin: 1rem 0;
}
