<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/afa0725d-f69e-4636-ba66-7861dbe7a0b3/resourceGroups/portailclient/providers/Microsoft.ApiManagement/service/APiAuthTestapi/apis/APiAuthTest</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/afa0725d-f69e-4636-ba66-7861dbe7a0b3/resourceGroups/portailclient/providers/Microsoft.Web/sites/BackendUnid</ResourceId>
    <ResourceGroup>portailclient</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://backendunid.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a3bee2b2-f77a-43af-8fa0-7afc9d8b288d</ProjectGuid>
    <PublishUrl>https://backendunid.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BackendUnid</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>